<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="CoreySmith.Foundation.LayoutService.LayoutServiceConfigurator, CoreySmith.Foundation.LayoutService" />
    </services>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <renderJsonRendering>
            <processor type="CoreySmith.Foundation.LayoutService.Pipelines.LayoutService.RenderJsonRendering.WrapWithExtensibleRenderedJsonRendering, CoreySmith.Foundation.LayoutService"
                       resolve="true"
                       patch:after="processor[last()]" />
          </renderJsonRendering>
          <transformPlaceholderElement performanceCritical="true" />
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
