<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore env:require="Dev">
    <sites>
      <site name="jssrocks"
            hostName="extjsonrenderings.sitecore" />
    </sites>
    <javaScriptServices>
      <apps>
        <app name="jssrocks"
             deploymentSecret="vki8o9lsljtkhlwuluw6kr6us6pxjb5gv1tnipu1o5"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
