<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.AtlSug"
                       description="ATLSUG feature module"
                       dependencies="Foundation.*"
                       extends="Helix.Feature">
          <predicate>
            <include name="JsonRendering.AtlSugSection" database="master" path="/sitecore/templates/JavaScriptServices/Json Rendering/ATLSUG" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
