<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization"
                       description="Framework root items"
                       extends="Helix.Base">
          <predicate>
            <!-- Templates -->
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature">
              <exclude children="true" />
            </include>
            <include name="Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/Placeholder Settings/Project">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>
            
            <!-- API Keys -->
            <include name="Core.ApiKeys.Project" database="core" path="/sitecore/system/Settings/Services/API Keys/Project">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
