<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization"
                       description="Framework root items"
                       extends="Helix.Base">
          <predicate>
            <!-- Media -->
            <include name="Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>
            
            <!-- API Keys -->
            <include name="Core.ApiKeys.Project" database="core" path="/sitecore/system/Settings/Services/API Keys/Project">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
